---
layout: post
title: "Duke Democracy Day"
date: 2022-07-08 00:00:00 -0000
category: [Information]
permalink: duke-democracy-day
sm-header-img: ''
md-header img: ''
---

<div class="row">
    {% for day in site.data.dukedates %}
    <div class="row">
        <h4>{{ day.date }}</h4>
        {% for event in day.events %}
        <div class="col-md-12 lg-6">
            <h3>{{ event.time }}</h3>
            <h2>{{ event.name }}</h2>
            <p>{{ event.partner }}</p>
            <small>{{ event.description }}</small>
            <small>{{ event.location }}</small>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>