<section class="footer">
    <div class="row">
        <div class="col-xs-12 col-md-3"></div>
        <div class="col-xs-12">
            <p>Copyright © 2023  North Carolina Young People's Alliance, All Rights Reserved</p>
        </div>
    </div>
</section>

<!-- Filter: https://css-tricks.com/gooey-effect/ -->
<svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />    
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
            <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
        </filter>
    </defs>
</svg>

<script type="text/javascript" src="assets/js/index.js"></script>
{% for addon in page.js-addons %}
<script type="text/javascript" src="assets/js/addons/{{ addon }}"></script>
{% endfor %}
</body>
</html> 