<h3>
    Follow Us on Social Media
</h3>

<div class="row social-row">
    <a target="_blank" href = "https://www.instagram.com/youngpeoplesalliance/" class="no-interaction">
        <img src="{{ site.url }}/assets/img/svg/instagram.svg" class="social-icon">
    </a>
    <a target="_blank" href = "https://twitter.com/ncypalliance" class="no-interaction">
        <img src="{{ site.url }}/assets/img/svg/twitter.svg" class="social-icon">
    </a>
    <a target="_blank" href = "https://www.linkedin.com/company/ncypa" class="no-interaction">
        <img src="{{ site.url }}/assets/img/svg/linkedin.svg" class="social-icon">
    </a>
</div>

<h3>
    Donate
</h3>

<p>
    Support our youth movement to mobilize thousands of new young voters and shake up the status quo!
</p>

<div class = "embed">
    <iframe src="https://givebutter.com/embed/c/ncypa" width="100%" height="615px" style="max-width: 601px;" name="givebutter" frameborder="0" scrolling="no" seamless allowpaymentrequest></iframe><script src="https://givebutter.com/js/widget.js"></script>
</div>