<div class="row">
    {% for member in site.data.members %}

    
    <div class="col-xs-12 col-sm-4 col-lg-4 team-member">
        <div class="photo">
            <img src="{{ site.url }}/assets/img/profiles/{{ member.name | remove:' ' }}.jpg" class="profile-img" alt="{{ member.name }}'s profile photo">
        </div>
        <h3 style="margin: 0">{{ member.name }}</h4>
        <p style="margin: 0"><em>{{ member.position }}</em></p>
        <small>{{ member.details }} from {{ member.hometown }}</small>
    </div>

    {% endfor %}
</div>

<h2>Advisory Board</h2>

<div class="row">
    {% for member in site.data.board %}

        
    <div class="col-xs-12 col-sm-4 col-lg-4 team-member">
        <div class="photo">
            <img src="{{ site.url }}/assets/img/profiles/{{ member.name | remove:' ' }}.jpg" class="profile-img" alt="{{ member.name }}'s profile photo">
        </div>
        <h3 style="margin: 0">{{ member.name }}</h4>
        <p style="margin: 0"><em>{{ member.details }}</em></p>
    </div>

    {% endfor %}
</div>