header {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transition: background-color 0.5s ease;
  }
  
  header.scrolled {
    background-color: white;
  }
  
  .brand {
    font-size: 1.5em;
  }
  
  .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .links a {
    margin-left: 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .links {
      display: none;
    }
  
    .hamburger {
      display: block;
    }
  }
  
  .hamburger span {
    display: block;
    height: 2px;
    width: 20px;
    margin: 5px;
    background-color: black;
  }
  