/* layout */
.post-layout {
	padding: 0rem 1rem;
}


@media only screen and (min-width: 41rem) {
	.post-layout {
		padding: 0rem 5rem;
	}
}

.sidebar {
	position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* objects */
.post-content h2 {
	font-size: 3rem;
}

.post-content h3 {
	font-size: 2.4rem;
}

.post-content button {
    border: none;
    cursor: pointer;
}

.rendered-form input[type=text], textarea {
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid gray;
}

.rendered-form .radio-group {
    width: 90%;
    margin-left: 10%;
}

.formbuilder-required {
    color: red;
}

.social-row {
	justify-content: space-between;
	width: 35%;
    margin-left: 0;
}

.social-icon {
	max-width: 1rem;
	padding: 0.5rem;
	background: black;
	border-radius: 50%;
}

/* buttons */
.post-content a:not(.no-interaction) {
	margin-top: 1em;
	display: inline-block;
	text-align: center;
	background: black;
	color: white;
	font-weight: bold;
	padding: 1em 1.18em;
	line-height: 1;
	border-radius: 1em;
	position: relative;
	min-width: 8.23em;
	text-decoration: none;
	font-size: 1.25rem;
}

.post-content a:not(.no-interaction):before {
	top: -20%;
	left: 20%;
}

.post-content a:not(.no-interaction):after {
	bottom: -25%;
	right: 20%;
}

.post-content a:not(.no-interaction):hover:before,
.post-content a:not(.no-interaction):hover:after {
	transform: none;
}

@media only screen and (min-width: 41rem) {
    .post-content:not(.sidebar) {
        padding-right: 4rem !important;
    }

	.social-row {
		width: 35%;
	}

	.post-content a:not(.no-interaction) {
		margin-top: 0em;

		filter: url('#goo');
		padding: 1.5rem 0;
	}

	.post-content a:not(.no-interaction):before,
	.post-content a:not(.no-interaction):after {
		width: 4.4em;
		height: 2.95em;
		position: absolute;
		content: "";
		display: inline-block;
		background: black;
		border-radius: 50%;
		transition: transform 0.3s ease;
		transform: scale(0);
		z-index: -1;
	}

	.post-content a:not(.no-interaction)-inverse:before,
	.post-content a:not(.no-interaction)-inverse:after {
		background: white;
	}
}