#search-header {
    align-items: center;
    justify-content: center;
}

#search-header input {
    width: calc(100% - 2rem);
    height: 3rem;
    border: 1px solid white;
    border-radius: 1.5rem;
    background: #fff;
    background: rgba(255, 255, 255, 0.479);
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    outline: none;
}

#search-header {
    min-height: 40vh;
}