{% include header.html %}

    
{% include nav.html %}

<section class="p-main-1">
    <div class="row minitron">
        <div class="col-xs-8 col-xs-offset-4 col-sm-offset-0">
            <h1>{{ page.title }}</h1>
        </div>
        <div class="feature">
            <img src="{{ sm-header-img }}" class="hide-xs show-sm">
            <img src="{{ md-header-img }}" class="hide-sm">
        </div>
        <img src="assets/img/svg/jumbotron-bottom-md.svg" class="border hide-xs show-sm" style="height: 10%"/>
        <img src="assets/img/svg/jumbotron-bottom-sm.svg" class="border hide-sm" style="height: 10%"/>
        
    </div>
</section>

<section class="post-content">
    <div class="container">
        {{ content }}
    </div>
</section>

{% include footer.html %}